<!DOCTYPE html>
<html lang = "en">
<head>
    <% include ../partials/page/head.ejs %>
</head>
<header>
    <% include ../partials/page/header.ejs %>
</header>

<% include ../partials/page/jsdefaults.ejs %>

<div class = "container">
    <h2>Customer's Central Sheet</h2>

    <div align = "center">
        <% var submitLockString = "/records/centralsheet/" + redirectRecordType; %>

        <form name = "search_customer" method = "post"
              action = '<%= submitLockString %>' id = "search_customer">

            <select name = "request_customer_id"
                    class = "form-control select select-info"
                    data-toggle = "select" form = "search_customer"
                    onchange = 'this.form.submit()'>
                <% for(var i = 0; i < customerObject.length; i++) { %>
                <% if (requestCustomerID == customerObject[i].id){ %>
                <option value = <%= customerObject[i].id %> selected><%= customerObject[i].customerID %>
                    (<%= customerObject[i].nickname %>)
                </option>
                <% } else { %>
                <option value =<%= customerObject[i].id %>><%= customerObject[i].customerID %>
                    (<%= customerObject[i].nickname %>)
                </option>
                <% } %>
                <% } %>
            </select>
        </form>
    </div>

    <table id = "sort" class = "table" border = "1"
           style = "margin-top: 60px; border-color:#BDC3C7">
        <thead>
        <tr>
            <colgroup>
                <col style="background-color:#FFFFFF">
                <col style="background-color:#FFFFFF">
                <col style="background-color:#FFFFFF">
                <col style="background-color:#FFFFFF">
                <col style="background-color:#FFFFFF">
                <col style="background-color:#FFFFFF">
                <col style="background-color:#ECF0F1">

            </colgroup>
            <th style = "text-align:center; width: 100px"
                class = "sort-default">Date
            </th>
            <th style = "text-align:center; width: 150px"
                class = "sort-default">Previous Debt
            </th>
            <th style = "text-align:center; width: 150px; color: #2ECC71"
                class = "sort-default">Buy
            </th>
            <th style = "text-align:center; width: 150px;color:#E74C3C"
                class = "sort-default">Strike
            </th>
            <th style = "text-align:center; width: 150px; color: #2ECC71" class = "no-sort">
                Pay In
            </th>
            <th style = "text-align:center; width: 150px; color:#E74C3C" class = "no-sort">
                Pay Out
            </th>

            <th style = "text-align:center; width: 150px" class = "no-sort">
                Debt
            </th>
        </tr>
        </thead>
        <% var totalDebt = 0 %>

        <% for(var i = 0; i < financeObject.length; i++) { %>
        <% if (!(financeObject[i].sale == 0 && financeObject[i].strike == 0 && financeObject[i].payIn == 0 && financeObject[i].payOut == 0)) { %>
        <tr>
            <td align = "center"><%= financeObject[i].recordDate.getDate() %>
                /<%= financeObject[i].recordDate.getMonth() %>
                /<%= financeObject[i].recordDate.getFullYear() %></td>
            <td align = "center"><%= totalDebt %></td>
            <td align = "center"><%= financeObject[i].sale %></td>
            <td align = "center"><%= financeObject[i].strike %></td>
            <td align = "center"><%= financeObject[i].payIn %></td>
            <td align = "center"><%= financeObject[i].payOut %></td>
<% totalDebt = totalDebt + financeObject[i].sale - financeObject[i].strike +  financeObject[i].payIn - financeObject[i].payOut%>
            <td align = "center"><%=totalDebt%></td>
        </tr>
        <% } %>
        <% } %>
    </table>


</div>
