<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/page/head.ejs %>
</head>
<header>
    <% include ../partials/page/header.ejs %>
    <% include ../partials/page/jsdefaults.ejs %>
</header>


<div class="container">
    <h2><%= title %></h2>

    <form method="post" id="date_form">
        <div align="center" style="margin-bottom: 50px">
            <div class="input-group date" id="datepicker" style="width: 300px">
                <input type="text" class="form-control"
                       style="text-align: center"
                       value="" name="date_input"
                       onchange='submitParseDate()' id="date_input">
            <span class="input-group-addon"><i
                        class="fui-list-small-thumbnails"></i></span>
            </div>
        </div>
    </form>
    <div align="center">
        <div class="login-form" style="width:150px; margin-top: 30px; ">
            <% var submitLockString = "/records/lock-page/" + redirectRecordType;%>
            <form method="post" onchange="this.submit()" action='<%=submitLockString%>'
                  id="locked_form">
                <input type=hidden name="date" value="<%= requestDate %>">
                <input type=hidden name="recordPageID"
                       value="<%= recordPageID %>">
                <label class="radio">
                    <input type="radio" name="locked"
                           id="optionsRadios1" value=true
                           data-toggle="radio">
                    Lock
                </label>
                <label class="radio">
                    <input type="radio" name="locked"
                           id="optionsRadios2" value=false
                           data-toggle="radio">
                    Unlock
                </label>
            </form>
        </div>
    </div>
    <% var submitFormString = "/records/manage/" + redirectRecordType + "/update-entry";%>
    <form method="post" id="record_form" action= '<%=submitFormString%>'>
        <input type=hidden name="date" value="<%= requestDate %>">
        <input type=hidden name="recordPageID" value="<%= recordPageID %>">
        <% for (var i = 0; i < organizedEntryObject.length; i++) { %>
        <div align="center" style="margin-top: 80px">
            <h5 style="color:#7F8C8D;"><%= organizedEntryObject[i].managerProfiles.managerUsername %>
                [<%= organizedEntryObject[i].managerProfiles.managerNickname %>
                ]</h5>

        </div>
        <hr style="height:1px;border:none;color:#7F8C8D;background-color:#7F8C8D;"/>
        <% for (var j = 0; j < organizedEntryObject[i].workers.length; j++) { %>
        <div align="left" style="padding-left:65px; margin-top: 20px;">
            <strong style="color:#3498DB; font-size:20px"><%= organizedEntryObject[i].workers[j].workerProfiles.workerUsername %>
                [<%= organizedEntryObject[i].workers[j].workerProfiles.workerNickname %>
                ]</strong>
        </div>

        <table class="table">
            <tr>
                <th style="text-align:center">Customer</th>
                <th style="text-align:center">Sale</th>
                <th style="text-align:center">Strike</th>
            </tr>

            <% for (var k = 0; k < organizedEntryObject[i].workers[j].customers.length; k++) { %>

            <tr>

                <input type="hidden"
                       value="<%= organizedEntryObject[i].workers[j].customers[k].customerProfiles.customer_id %>"
                       name="customer_id">
                <td align="center"
                    style="text-align: center;vertical-align: middle;">
                    <%= organizedEntryObject[i].workers[j].customers[k].customerProfiles.customerID %>
                    (<%= organizedEntryObject[i].workers[j].customers[k].customerProfiles.customerNickname %>
                    )
                </td>

                <%if (pageLocked)  {%>
                <td align="center">
                    <input readonly type="number" class="form-control"
                           style="width: 150px; text-align: right; color:black" name="sale"
                           value="<%= organizedEntryObject[i].workers[j].customers[k].customerProfiles.sale %>">
                </td>
                <td align="center">
                    <input readonly type="number" class="form-control"
                           style="width: 150px; text-align: right; color:black"
                           name="strike"
                           value="<%= organizedEntryObject[i].workers[j].customers[k].customerProfiles.strike %>">
                </td>

                <% } else {%>
                <td align="center">
                    <input type="number" class="form-control"
                           style="width: 150px; text-align: right;" name="sale"
                           value="<%= organizedEntryObject[i].workers[j].customers[k].customerProfiles.sale %>">
                </td>
                <td align="center">
                    <input type="number" class="form-control"
                           style="width: 150px; text-align: right;"
                           name="strike"
                           value="<%= organizedEntryObject[i].workers[j].customers[k].customerProfiles.strike %>">
                </td>
                <% }%>
                </tr>

            <% } %>
        </table>
        <% } %>
        <% } %>

        <div align="center" style="margin-top: 50px">
            <strong style="color:#2ECC71">Total Sale :</strong>

            <div class="form-control"
                 style="display:inline-block ; width: 150px; text-align: right; margin-right: 30px">
                <%= totalSale %>
            </div>

            <strong style="color:#E74C3C">Total Strike :</strong>
            <div class="form-control"
                 style="display:inline-block ; width: 150px; text-align: right ;margin-right: 30px">
                <%= totalStrike %>
            </div>

            <strong>Balance :</strong>
            <% if ((totalSale - totalStrike) < 0) {%>
            <div class="form-control"
                 style="display:inline-block ; width: 150px; text-align: right; color:#E74C3C" >
                <strong> <%= totalSale - totalStrike %></strong>
            </div>
            <% } else {%>
            <div class="form-control"
                 style="display:inline-block ; width: 150px; text-align: right; color:#2ECC71">
                <strong> <%= totalSale - totalStrike %></strong>
            </div>
            <% } %>
        </div>
        <div align="center">
        <%if (pageLocked)  {%>

            <input disabled style="width: 300px; margin-bottom: 50px; margin-top: 60px"
                   class="btn btn-primary btn-lg btn-block"
                   type="submit" value="Save Record" >


        <% } else { %>
        <input style="width: 300px; margin-bottom: 50px; margin-top: 60px"
               class="btn btn-primary btn-lg btn-block"
               type="submit" value="Save Record" >
        <% }%>
        </form>
</div>
</div>


<script type="text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            orientation: 'auto top',
            autoclose: true,
            todayHighlight: true
        });
        var date = new Date("<%=requestDate%>");


        if ((date.getMonth() + 1) < 10) {
            if (date.getDate() < 10) {
                var selectDate = '0' + date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
            } else {
                var selectDate = date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
            }

        } else {
            if (date.getDate() < 10) {
                var selectDate = '0' + date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
            } else {
                var selectDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
            }
        }
        document.getElementById('date_input').value = selectDate;


        if (<%=pageLocked%>) {
            document.getElementById("optionsRadios1").checked = true;
        } else {
            document.getElementById("optionsRadios2").checked = true;
        }


    });

    function submitParseDate() {
        var unformatted = document.getElementById('date_input').value;
        var result = unformatted.split("/");
        var select = new Date(result[2] + '-' + result[1] + '-' + result[0]);
        document.getElementById("date_form").action = "/records/initialize/" + '<%=redirectRecordType%>' + "/manage/" + select;
        document.getElementById("date_form").submit();
    }


</script>


<footer>

</footer>