<!DOCTYPE html>
<html lang = "en">
<head>
    <% include ../partials/page/head.ejs %>
</head>
<header>
    <% include ../partials/page/header.ejs %>
    <% include ../partials/page/jsdefaults.ejs %>
</header>


<div class = "container">
    <h2><%= title %></h2>

    <div align = "center">

        <div align = "center">
            <div class = "login-form" style = "width:150px; margin-top: 30px; ">
                <form method = "post" onchange = "this.submit()"
                      action = '/payin/lock' id = "locked_form">
                    <input type = hidden name = "requestDate"
                           value = "<%= requestDate %>">
                    <input type = hidden name = "requestUserID"
                           value = "<%= requestUserID %>">
                    <input type = hidden name = "redirectRecordType"
                           value = "<%= redirectRecordType %>">
                    <label class = "radio">
                        <input type = "radio" name = "locked"
                               id = "optionsRadios1" value = true
                               data-toggle = "radio">
                        Lock
                    </label>
                    <label class = "radio">
                        <input type = "radio" name = "locked"
                               id = "optionsRadios2" value = false
                               data-toggle = "radio">
                        Unlock
                    </label>
                </form>
            </div>
        </div>

        <div class = "login-form" style = "width:350px; margin-top: 30px; ">


            <form method = "post" action = "/payin/submit" id = "submit_form">


                <div class = "input-group date" id = "datepicker"
                     style = "width: 300px; margin-bottom: 30px">
                    <input type = "text" class = "form-control"
                           style = "text-align: center" value = ""
                           name = "date_input" onchange = 'submitParseDate()'
                           id = "date_input">
            <span class = "input-group-addon"><i
                        class = "fui-list-small-thumbnails"></i></span>
                </div>


                <input type = "hidden" name = "redirectRecordType"
                       value = "<%= redirectRecordType %>">
                <input type = "hidden" name = "requestDate"
                       value = "<%= requestDate %>">
                <input type = "hidden" name = "requestUserID"
                value = "<%= requestUserID %>">

                <select name = "json_object" id = "json_object"
                        class = "form-control select select-info"
                        data-toggle = "select" form = "submit_form"
                        style = "margin-bottom: 30px;"
                        onchange = "updateInput()">
                    <% for(var i = 0; i < userArray.length; i++) { %>
                    <% if (requestUserID == userArray[i].id){ %>
                    <option value = '{"id":"<%= userArray[i].id %>","username":"<%= userArray[i].userID %>","nickname":"<%= userArray[i].userNickname %>"}'
                            selected><%= userArray[i].userID %>
                        (<%= userArray[i].userNickname %>)
                    </option>
                    <% } else { %>
                    <option value = '{"id":"<%= userArray[i].id %>","username":"<%= userArray[i].userID %>","nickname":"<%= userArray[i].userNickname %>"}'><%= userArray[i].userID %>
                        (<%= userArray[i].userNickname %>)
                    </option>
                    <% } %>
                    <% } %>
                </select>


                <div class = "form-group">
                    Pay In
                    <input type = "number" class = "form-control login-field"
                           placeholder = "Pay In" name = "payIn" id = "payIn"
                           value = '' style = "width: 300px;" required>
                </div>

                <div class = "form-group">
                    Transfer To:
                    <select name = "json_bank" id = "request_bank_id"
                            class = "form-control select select-info"
                            data-toggle = "select" form = "submit_form"
                            style = "margin-bottom: 30px;">
                        <% for(var i = 0; i < systemBankObject.length; i++) { %>
                        <% if (requestPaymentID == systemBankObject[i].id){ %>
                        <option value = '{"id":"<%= systemBankObject[i].id %>","bankType":"<%= systemBankObject[i].bankType %>","bankName":"<%= systemBankObject[i].bankName %>","bankNumber":"<%= systemBankObject[i].bankNumber %>"}'
                                selected><%= systemBankObject[i].bankName %>
                            (<%= systemBankObject[i].bankType %>)
                        </option>
                        <% } else { %>
                        <option value = '{"id":"<%= systemBankObject[i].id %>","bankType":"<%= systemBankObject[i].bankType %>","bankName":"<%= systemBankObject[i].bankName %>","bankNumber":"<%= systemBankObject[i].bankNumber %>"}'><%= systemBankObject[i].bankName %>
                            (<%= systemBankObject[i].bankType %>)
                        </option>
                        <% } %>
                        <% } %>
                    </select>
                </div>

                <% if (pageLocked) { %>

                <div align = "center">
                    <label class = "fui-lock" style = "font-size: 50px"></label>
                </div>
                <% } else { %>

                <input class = "btn btn-primary btn-lg btn-block"
                       type = "submit" value = "Update Pay In"
                       style = "width: 300px; margin-top: 50px"
                       id = "update_button">
                <% } %>
            </form>

        </div>

        <table id = "sort" class = "table" border = "1"
               style = "border-color:#BDC3C7;margin-top: 50px">
            <thead>
            <% var spancol = 3 + uniqueBank.length %>
            <th style = "vertical-align: middle; text-align:center"
                colspan = "<%= spancol %>">
                <input disabled type = "text" class = "form-control-white"
                       style = "text-align: center" value = ""
                       name = "date_header" id = "date_header">
            </th>
            <thead>
            <tr>
                <th style = "vertical-align: middle; text-align:center">
                    Pay In User
                </th>
                <% for(var i = 0; i < uniqueBank.length; i++) { %>
                <th bgcolor = #ECF0F1
                    style = "vertical-align: middle; text-align:center;">
                    <%= uniqueBank[i] %>
                </th>
                <% } %>
                <th style = "vertical-align: middle; text-align:center">
                    Amount
                </th>

                <th style = "vertical-align: middle; text-align:center">
                    Delete
                </th>
            </tr>
            </thead>
            <% for (var i = 0; i < payInDetails.length; i++ ) { %>
            <tr>
                <td align = "center"
                    style = "text-align: center;vertical-align: middle; white-space: nowrap">
                    <div class = "form-control-white"
                         style = " text-align: center">
                        <%= payInDetails[i].userID %>
                        (<%= payInDetails[i].userNickname %> )
                    </div>

                </td>
                <% for(var k = 0; k < uniqueBank.length; k++) { %>

                <% if (uniqueBank[k] == payInDetails[i].paymentMethodBankType) { %>

                <% if (uniqueBank[k] == 'Cash') { %>
                <td align = "center"
                    style = "text-align: center; vertical-align: middle; font-size: 20px; white-space: nowrap">
                    <span class = "fui-check-circle"></span>
                </td>
                <% } else { %>
                <td align = "center"
                    style = "text-align: left; vertical-align: top; font-size: 15px; white-space: nowrap">
                    <%= payInDetails[i].paymentMethodBankNumber %>
                    <br><%= payInDetails[i].paymentMethodBankName %><br>
                </td>
                <% } %>

                <% } else { %>
                <td align = "center"
                    style = "text-align: left; vertical-align: top; font-size: 15px; white-space: nowrap">

                </td>
                <% } %>
                <% } %>

                <td align = "center"
                    style = "text-align: center;vertical-align: middle; white-space: nowrap">
                    <div class = "form-control-white"
                         style = " text-align: center">
                        <%= payInDetails[i].payIn.toLocaleString('en', {useGrouping:true}) %>
                    </div>

                </td>

                <% if (!pageLocked) { %>
                <td align = "center" style = "vertical-align: middle"><a
                            href = "/payin/delete/<%= payInDetails[i].id %>/<%= redirectRecordType %>/<%= requestDate %>/<%= requestUserID %>"
                            class = "button"><span class = "fui-cross"
                                                   style = "color:#f93c3c"></span></a>
                </td>
                <% } else { %>
                <td align = "center" style = "vertical-align: middle">
                    <span class = "fui-lock"></span>
                </td>
                <% } %>
            </tr>

            <% } %>
        </table>
    </div>
    <% if (userArray.length == 0) { %>
    <script>
        document.getElementById('update_button').disabled = true;

    </script>
    <% } %>

    <% if (pageLocked) { %>

    <script>
        document.getElementById('payIn').disabled = true;

        document.getElementById('json_object').disabled = true;
        document.getElementById('json_bank').disabled = true;
    </script>

    <% } %>

    <script type = "text/javascript">
        $(document).ready(function () {
            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                orientation: 'auto top',
                autoclose: true,
                todayHighlight: true
            });
            var date = new Date("<%=requestDate%>");

            if ((date.getMonth() + 1) < 10) {
                if (date.getDate() < 10) {
                    var selectDate = '0' + date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
                } else {
                    var selectDate = date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
                }

            } else {
                if (date.getDate() < 10) {
                    var selectDate = '0' + date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
                } else {
                    var selectDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
                }
            }
            document.getElementById('date_input').value = selectDate;
            document.getElementById('date_header').value = selectDate;

            if (<%=pageLocked%>) {
                document.getElementById("optionsRadios1").checked = true;
            } else {
                document.getElementById("optionsRadios2").checked = true;
            }

        });

        function submitParseDate() {
            var unformatted = document.getElementById('date_input').value;
            var result = unformatted.split("/");
            var select = new Date(result[2] + '-' + result[1] + '-' + result[0]);
            document.getElementById("submit_form").action = '/payin/change/' + select;
            document.getElementById("submit_form").submit();
        }


    </script>
