<!DOCTYPE html>
<html lang = "en">
<head>
    <% include ../partials/page/head.ejs %>
</head>
<header>
    <% include ../partials/page/header.ejs %>
    <% include ../partials/page/jsdefaults.ejs %>
</header>


<div class = "container">
    <h2><%= title %></h2>

    <div align = "center">
        <div class = "login-form" style = "width:350px; margin-top: 30px; ">
            <form method = "post" action="/payout/submit" id="submit_form">

                <div class = "input-group date" id = "datepicker"
                     style = "width: 300px; margin-bottom: 30px">
                    <input type = "text" class = "form-control"
                           style = "text-align: center" value = ""
                           name = "date_input" onchange = 'submitParseDate()'
                           id = "date_input">
            <span class = "input-group-addon"><i
                        class = "fui-list-small-thumbnails"></i></span>
                </div>


                <input type="hidden" name="redirectRecordType" value="<%=redirectRecordType%>">
                <input type="hidden" name="requestDate" value="<%=requestDate%>">

                <select name = "json_object" id = "json_object"
                        class = "form-control select select-info"
                        data-toggle = "select" form = "submit_form"
                        style = "margin-bottom: 30px;" onchange="updateInput()">
                    <% for(var i = 0; i < userArray.length; i++) { %>
                    <% if (requestUserID == userArray[i].id){ %>
                    <option value = '{"id":"<%= userArray[i].id %>","username":"<%= userArray[i].userID %>","nickname":"<%= userArray[i].userNickname %>"}' selected><%= userArray[i].userID %>
                        (<%= userArray[i].userNickname %>)
                    </option>
                    <% } else { %>
                    <option value = '{"id":"<%= userArray[i].id %>","username":"<%= userArray[i].userID %>","nickname":"<%= userArray[i].userNickname %>"}' ><%= userArray[i].userID %>
                        (<%= userArray[i].userNickname %>)
                    </option>
                    <% } %>
                    <% } %>
                </select>



                <div class = "form-group">
                    Pay Out
                    <input type = "number" class = "form-control login-field"
                           placeholder = "Pay Out" name = "payOut" id = "payOut"
                           value = '' style = "width: 300px;">
                </div>

                <input class = "btn btn-primary btn-lg btn-block"
                       type = "submit" value = "Update Pay Out"
                       style = "width: 300px; margin-top: 50px" id="update_button">
            </form>

        </div>

        <table id = "sort" class = "table" border = "1"
               style = "border-color:#BDC3C7;margin-top: 50px">
            <thead>
            <th>
                Pay Out To
            </th>
            <th>
                Amount
            </th>
            <th>
                Time
            </th>
            </thead>
            <%for (var i = 0; i < payOutDetails.length; i++ ) {%>
<tr>
    <td>
        <%=payOutDetails[i].userID%> (<%=payOutDetails[i].userNickname%> )
    </td>
    <td>
        <%=payOutDetails[i].payOut%>
    </td>
    <td>
        <%=payOutDetails[i].created%>
    </td>
</tr>

            <% } %>
        </table>
    </div>
    <% if (userArray.length == 0) { %>
    <script>
        document.getElementById('update_button').disabled = true;
    </script>
    <% } %>

    <% if (pageLocked) { %>
    <script>
        document.getElementById('payOut').disabled = true;
        document.getElementById('update_button').disabled = true;
        document.getElementById('request_customer_id').disabled = true;

    </script>
    <% } %>

    <script type = "text/javascript">
        $(document).ready(function () {
            $('#datepicker').datepicker({
                format: "dd/mm/yyyy",
                orientation: 'auto top',
                autoclose: true,
                todayHighlight: true
            });
            var date = new Date("<%=requestDate%>");

            if ((date.getMonth() + 1) < 10) {
                if (date.getDate() < 10) {
                    var selectDate = '0' + date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
                } else {
                    var selectDate = date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
                }

            } else {
                if (date.getDate() < 10) {
                    var selectDate = '0' + date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
                } else {
                    var selectDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
                }
            }
            document.getElementById('date_input').value = selectDate;

        });

        function submitParseDate() {
            var unformatted = document.getElementById('date_input').value;
            var result = unformatted.split("/");
            var select = new Date(result[2] + '-' + result[1] + '-' + result[0]);
            document.getElementById("submit_form").action = '/payout/change/' + select;
            document.getElementById("submit_form").submit();
        }


    </script>
