<!DOCTYPE html>
<html lang = "en">
<head>
    <% include ../partials/page/head.ejs %>
</head>
<header>
    <% include ../partials/page/header.ejs %>
    <% include ../partials/page/jsdefaults.ejs %>
</header>


<div class = "container">
    <h2><%= title %></h2>

    <form method = "post" id = "date_form">
        <div align = "center" style = "margin-bottom: 50px">
            <div class = "input-group date" id = "datepicker"
                 style = "width: 300px">
                <input type = "text" class = "form-control"
                       style = "text-align: center" value = ""
                       name = "date_input" onchange = 'submitParseDate()'
                       id = "date_input">
            <span class = "input-group-addon"><i
                        class = "fui-list-small-thumbnails"></i></span>
            </div>
        </div>
    </form>
    <div align = "center">
        <div class = "login-form" style = "width:150px; margin-top: 30px; ">
            <form method = "post" onchange = "this.submit()"
                  action = '/profitloss/lock' id = "locked_form">
                <input type = hidden name = "requestDate"
                       value = "<%= requestDate %>">
                <input type = hidden name = "requestRecordType"
                       value = "<%= requestRecordType %>">
                <input type = hidden name = "redirectRecordType"
                       value = "<%= redirectRecordType %>">
                <label class = "radio">
                    <input type = "radio" name = "locked" id = "optionsRadios1"
                           value = true data-toggle = "radio">
                    Lock
                </label>
                <label class = "radio">
                    <input type = "radio" name = "locked" id = "optionsRadios2"
                           value = false data-toggle = "radio">
                    Unlock
                </label>
            </form>
        </div>
    </div>

    <form method = "post" id = "record_form" action = '/profitloss/submit'>

        <input type = hidden name = "requestDate" value = "<%= requestDate %>">
        <input type = hidden name = "requestRecordType"
               value = "<%= requestRecordType %>">
        <input type = hidden name = "redirectRecordType"
               value = "<%= redirectRecordType %>">

        <h3> Profit Loss </h3>
        <% for (var i = 0; i < hierarchy.length; i++) { %>
        <% var saleTotalLocal = 0 %>
        <% var strikeTotalLocal = 0 %>
        <table id = "sort" class = "table" border = "1"
               style = "border-color:#BDC3C7;margin-top: 50px">
            <th bgcolor = "#2C3E50" style = "color:#FFFFFF; text-align: center"
                colspan = "3"><%= hierarchy[i].managerProfiles.managerUsername %>
                (<%= hierarchy[i].managerProfiles.managerNickname %>)
            </th>

            <% for (var j = 0; j < hierarchy[i].workers.length; j++) { %>

            <tr>
                <th style = "color:#3498DB; font-size:20px; text-align: center"
                    colspan = "3"><%= hierarchy[i].workers[j].workerProfiles.workerUsername %>
                    (<%= hierarchy[i].workers[j].workerProfiles.workerNickname %>
                    )
                </th>
            </tr>

            <tr>
                <th style = "text-align:center; width: 200px">Customer</th>
                <th style = "text-align:center; width: 200px; color: #2ECC71">Sale</th>
                <th style = "text-align:center; width: 200px; color: #E74C3C">Strike</th>

            </tr>

            <% for (var k = 0; k < hierarchy[i].workers[j].customers.length; k++) { %>

            <tr>
                <td align = "center"
                    style = "text-align: center;vertical-align: middle;">
                    <%= hierarchy[i].workers[j].customers[k].customerProfiles.customerID %>
                    (<%= hierarchy[i].workers[j].customers[k].customerProfiles.customerNickname %>
                    )
                </td>

                <% for (var m = 0; m < sellDetails.length; m++) { %>
                <% if (sellDetails[m].customerID == hierarchy[i].workers[j].customers[k].customerProfiles.customerID) { %>
                <% if (pageLocked) { %>
                <td align = "center">
                    <div class="form-control-white" style = "width: 100%; text-align: right;  padding-right: 45%">
                        <%= sellDetails[m].sale %>
                    </div>
                </td>
                <td align = "center">
                    <div class="form-control-white" style = "width: 100%; text-align: right;  padding-right: 45%">
                        <%= sellDetails[m].strike %>
                    </div>
                </td>
                <% } else { %>
                <td align = "center">
                    <input type = "hidden" value = "<%= sellDetails[m]._id %>"
                           name = "sellDetails_id">
                    <input type = "number" class = "form-control-white"
                           style = "width: 100%; text-align: right; padding-right:45%"
                           name = "sale" id = "sale_<%= m %>"
                           value = '<%= sellDetails[m].sale %>'
                           onclick = "clearText(this)">
                </td>
                <td align = "center">
                    <input type = "number" class = "form-control-white"
                           style = "width: 100%; text-align: right; padding-right:45%"
                           name = "strike" id = "strike_<%= m %>"
                           value = '<%= sellDetails[m].strike %>'
                           onclick = "clearText(this)">

                </td>
                <% }  %>
                <% saleTotalLocal = saleTotalLocal + sellDetails[m].sale %>
                <% strikeTotalLocal = strikeTotalLocal + sellDetails[m].strike %>
                <% } %>
                <% } %>
            </tr>

            <% } %>
            <% } %>

            <tr>
                <td align = "center" bgcolor = #ECF0F1 style="vertical-align: middle;">
                    <strong>Total</strong>
                </td>
                <td align = "center" bgcolor = #ECF0F1>
                    <div class = "form-control" style="width: 100%; text-align: right;  padding-right: 45%;background-color: #ECF0F1; border-color:#ECF0F1">
                        <%= saleTotalLocal.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
                <td align = "center" bgcolor = #ECF0F1>
                    <div class = "form-control" style="width: 100%; text-align: right;  padding-right: 45%;background-color: #ECF0F1; border-color:#ECF0F1">
                        <%= strikeTotalLocal.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
            </tr>
        </table>
        <% } %>

        <h3 style = "margin-top: 100px;"> Forward </h3>

        <% for (var i = 0; i < hierarchy.length; i++) { %>
        <% var winTotalLocal = 0 %>
        <% var buyTotalLocal = 0 %>
        <table id = "sort" class = "table" border = "1"
               style = "border-color:#BDC3C7;margin-top: 50px">
            <th bgcolor = "#16A085" style = "color:#FFFFFF; text-align: center"
                colspan = "3"><%= hierarchy[i].managerProfiles.managerUsername %>
                (<%= hierarchy[i].managerProfiles.managerNickname %>)
            </th>

            <% for (var j = 0; j < hierarchy[i].workers.length; j++) { %>

            <tr>
                <th style = "color:#3498DB; font-size:20px; text-align: center"
                    colspan = "3"><%= hierarchy[i].workers[j].workerProfiles.workerUsername %>
                    (<%= hierarchy[i].workers[j].workerProfiles.workerNickname %>
                    )
                </th>
            </tr>

            <tr>
                <th style = "text-align:center; width: 200px;">Partner</th>
                <th style = "text-align:center;width: 200px; color: #E74C3C">Buy</th>
                <th style = "text-align:center;width: 200px; color: #2ECC71">Win</th>
            </tr>

            <% for (var k = 0; k < hierarchy[i].workers[j].partners.length; k++) { %>

            <tr>
                <td align = "center"
                    style = "text-align: center;vertical-align: middle;">
                    <%= hierarchy[i].workers[j].partners[k].partnerProfiles.partnerID %>
                    (<%= hierarchy[i].workers[j].partners[k].partnerProfiles.partnerNickname %>
                    )
                </td>

                <% for (var m = 0; m < buyDetails.length; m++) { %>
                <% if (buyDetails[m].partnerID == hierarchy[i].workers[j].partners[k].partnerProfiles.partnerID) { %>
                <% if (pageLocked) { %>
                <td align = "center">
                    <div class="form-control-white" style = "width: 100%; text-align: right;  padding-right: 45%">
                        <%= buyDetails[m].buy %>
                    </div>
                </td>
                <td align = "center">
                    <div class="form-control-white" style = "width: 100%; text-align: right;  padding-right: 45%">
                        <%= buyDetails[m].win %>
                    </div>
                </td>
                <% } else { %>

                <td align = "center">
                    <input type = "hidden" value = "<%= buyDetails[m]._id %>"
                           name = "buyDetails_id">
                    <input type = "number" class = "form-control-white"
                           style = "width: 100%; text-align: right; padding-right:45%"
                           name = "buy" id = "buy_<%= m %>"
                           value = "<%= buyDetails[m].buy %>"
                           onclick = "clearText(this)">
                </td>
                <td align = "center">
                    <input type = "number" class = "form-control-white"
                           style = "width: 100%; text-align: right;  padding-right: 45%"
                           name = "win" id = "win_<%= m %>"
                           value = "<%= buyDetails[m].win %>"
                           onclick = "clearText(this)">
                </td>
                <% } %>
                <% buyTotalLocal = buyTotalLocal + buyDetails[m].buy %>
                <% winTotalLocal = winTotalLocal + buyDetails[m].win %>
                <% } %>
                <% } %>

            </tr>

            <% } %>
            <% } %>

            <tr>
                <td align = "center" bgcolor = #ECF0F1 style="vertical-align: middle;">
                    <strong>Total</strong>
                </td>
                <td align = "center" bgcolor = #ECF0F1>
                    <div class = "form-control" style="width: 100%; text-align: right;  padding-right: 45%;background-color: #ECF0F1; border-color:#ECF0F1">
                        <%= buyTotalLocal.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>

                <td align = "center" bgcolor = #ECF0F1>
                    <div class = "form-control" style="width: 100%; text-align: right;  padding-right: 45%;background-color: #ECF0F1; border-color:#ECF0F1 ">
                        <%= winTotalLocal.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
            </tr>
        </table>
        <% } %>


        <table id = "sort" class = "table" border = "1"
               style = "border-color:#BDC3C7;margin-top: 50px">
            <thead>
            <tr>
                <td align = "center" bgcolor = #ECF0F1>
                    <strong style = "color: #2ECC71">Total Sale</strong>
                </td>
                <td align = "center" bgcolor = #ECF0F1>
                    <strong style = "color: #E74C3C">Total Strike</strong>
                </td>
                <td align = "center" bgcolor = #ECF0F1>
                    <strong style = "color: #E74C3C">Total Buy</strong>
                </td>
                <td align = "center" bgcolor = #ECF0F1>
                    <strong style = "color: #2ECC71">Total Win</strong>
                </td>
                <td align = "center" bgcolor = #ECF0F1>
                    <strong>Balance</strong>
                </td>
            </tr>
            </thead>

            <tr>
                <td align = "center">
                    <div class = "form-control-white">
                        <%= recordObject.totalSale.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
                <td align = "center">
                    <div class = "form-control-white">
                        <%= recordObject.totalStrike.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
                <td align = "center">
                    <div class = "form-control-white">
                        <%= recordObject.totalBuy.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
                <td align = "center">
                    <div class = "form-control-white">
                        <%= recordObject.totalWin.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
                <td align = "center">
                    <div class = "form-control-white">
                        <%= recordObject.totalBalance.toLocaleString('en', {useGrouping:true}) %>
                    </div>
                </td>
            </tr>
        </table>

        <% if (pageLocked) { %>

        <div align = "center">
            <label class = "fui-lock" style = "font-size: 50px"></label>
        </div>
        <% } else { %>
        <div align = "center">
            <input style = "width: 300px; margin-bottom: 50px; margin-top: 60px"
                   class = "btn btn-info btn-lg btn-block" type = "submit"
                   value = "Save Record">
        </div>

        <% } %>
    </form>

</div>
</div>


<script type = "text/javascript">
    $(document).ready(function () {
        $('#datepicker').datepicker({
            format: "dd/mm/yyyy",
            orientation: 'auto top',
            autoclose: true,
            todayHighlight: true
        });
        var date = new Date("<%=requestDate%>");


        if ((date.getMonth() + 1) < 10) {
            if (date.getDate() < 10) {
                var selectDate = '0' + date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
            } else {
                var selectDate = date.getDate() + '/0' + (date.getMonth() + 1) + '/' + date.getFullYear();
            }

        } else {
            if (date.getDate() < 10) {
                var selectDate = '0' + date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
            } else {
                var selectDate = date.getDate() + '/' + (date.getMonth() + 1) + '/' + date.getFullYear();
            }
        }
        document.getElementById('date_input').value = selectDate;


        if (<%=pageLocked%>) {
            document.getElementById("optionsRadios1").checked = true;
        } else {
            document.getElementById("optionsRadios2").checked = true;
        }


    });

    function clearText(input) {
        input.focus();
        input.select();
        var disMouse = document.getElementById(input.id);
        disMouse.addEventListener("mousewheel", function (evt) {
            evt.preventDefault();
        });
    }

    function submitParseDate() {
        var unformatted = document.getElementById('date_input').value;
        var result = unformatted.split("/");
        var select = new Date(result[2] + '-' + result[1] + '-' + result[0]);
        document.getElementById("date_form").action = '/profitloss/change/<%=redirectRecordType%>/' + select;
        document.getElementById("date_form").submit();
    }


</script>


<footer>

</footer>