<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/page/head.ejs %>
</head>
<header>
    <% include partials/page/header.ejs %>
</header>


<div class="container">
    <h1>User Management</h1>
    <br></br>

    <form method="post" action="/users/create">
        <div align="center">
            <div class="login-form" style="width:350px;">

                <div class="form-group">
                    <input type="text" class="form-control login-field" value=""
                           placeholder="Username" name="username" required/>
                    <label class="login-field-icon fui-user"></label>
                </div>

                <div class="form-group">
                    <input type="text" class="form-control login-field" value=""
                           placeholder="Password" name="password" required/>
                    <label class="login-field-icon fui-lock"></label>
                </div>
                <input class="btn btn-primary btn-lg btn-block"
                       type="submit" value="Add User"/>
            </div>

        </div>
    </form>

    <% if (typeof error != 'undefined' & error != "") { %>

    <div align="center" style="margin:25px auto; width:200px;">

        <div class="form-group has-error">
            <input type="text" value=""
                   placeholder="<%= error %>" class="form-control"/>
        </div>

    </div>

    <% } %>

    <br></br>

    <table id="sort" class="table">
        <thead>
        <tr>
            <th style="text-align:center" class="sort-default">Name</th>
            <th style="text-align:center" class="sort-default">Created On</th>
            <th style="text-align:center" class="no-sort">Reset Password</th>
            <th style="text-align:center" class="no-sort">Reset Delete User</th>
        </tr>
        </thead>
        <% for(var i = 0; i < data.length; i++) { %>
        <tr>
            <td align="center"><%= data[i].username %></td>
            <% date =  new Date(data[i].created) %>
            <td align="center"><%= date.getDate()%>/<%= date.getMonth()%>/<%= date.getFullYear()%></td>
            <td align="center"><a href="/users/reset" class="button">Reset</a>
            </td>
            <td align="center"><a href="/users/delete/<%= data[i].id %>"
                                  class="button"><span class="fui-cross"
                                                       style="color:#f93c3c"></span></a>
            </td>
        </tr>
        <% } %>
    </table>


</div>

<% include partials/page/jsdefaults.ejs %>
<script>
    new Tablesort(document.getElementById('sort'));
</script>

<footer>
    <% include partials/page/footer.ejs %>
</footer>
</html>