<!DOCTYPE html>

<html lang="en">
<head>
    <% include ../partials/page/head.ejs %>
</head>

<body>
<header>
    <% include ../partials/page/header.ejs %>
</header>


<div class="container">
    <h2>Assign Manager</h2>


    <div align="center">
        <div class="login-form"
             style="width:350px; margin-top: 30px; margin-bottom: 30px">
            <strong>Manager</strong>

            <form method="post" action="/managers/assign" id="assign_form">
                <div class="form-group">

                    <select class="form-control select select-info"
                            data-toggle="select" form="assign_form"
                            name="manager_username" id="manager_username">
                        <% for(var i = 0; i < dataManager.length; i++) { %>
                        <% if(dataManager[i].username === searchUser.username) { %>

                        <option selected value="<%= dataManager[i].username %>">
                            <%= dataManager[i].username %>
                            (<%= dataManager[i].nickname %>
                            )
                        </option>
                        <% } else { %>

                        <option value="<%= dataManager[i].username %>">
                            <%= dataManager[i].username %>
                            (<%= dataManager[i].nickname %>
                            )
                        </option>
                        <% } %>
                        <% } %>
                    </select>
                </div>
                <div class="form-group">
                    <strong>Worker</strong>
                    <select class="form-control select select-info"
                            data-toggle="select" form="assign_form"
                            name="worker_username" id="worker_username">
                        <% for(var i = 0; i < dataWorker.length; i++) { %>
                        <% if(i == 0) { %>
                        <option selected
                                value="<%= dataWorker[i].username %>">
                            <%= dataWorker[i].username %>
                            (<%= dataWorker[i].nickname %>)
                        </option>
                        <% } else { %>
                        <option value="<%= dataWorker[i].username %>">
                            <%= dataWorker[i].username %>
                            (<%= dataWorker[i].nickname %>
                            )
                        </option>
                        <% } %>
                        <% } %>
                    </select>
                </div>

                <input style="width:200px"
                       class="btn btn-primary btn-lg btn-block"
                       type="submit" value="Assign" id="submit_button"/>


            </form>
        </div>


    </div>


    <script>
        if (<%=dataManager.length%> === 0) {
            document.getElementById('manager_username').disabled = true;
        }
        if (<%=dataWorker.length%> === 0) {
            document.getElementById('worker_username').disabled = true;
        }
        if (<%=dataWorker.length%> === 0 || <%=dataManager.length%> == 0) {
            document.getElementById('submit_button').disabled = true;
        }
    </script>


    <div align="center" style="margin:25px auto; width:280px;">
        <% if (typeof error != 'undefined' & error != "") { %>
        <div class="form-group has-success">
            <input style="text-align:center" type="text" value=""
                   placeholder="<%= error %>" class="form-control"/>
        </div>
        <% } %>
    </div>


    <table id="sort" class="table">
        <thead>
        <tr>
            <th style="text-align:center" class="sort-default">Manager</th>
            <th style="text-align:center" class="sort-default">Worker</th>
            <th style="text-align:center" class="sort-default">Created On</th>
            <th style="text-align:center" class="no-sort">Delete</th>
        </tr>
        </thead>
        <% for(var i = 0; i < dataRelationship.length; i++) { %>
        <tr>
            <td align="center"><%= dataRelationship[i].manager %></td>
            <td align="center"><%= dataRelationship[i].username %></td>
            <% date = new Date(dataRelationship[i].created) %>
            <td align="center"><%= date.getDate() %>/<%= date.getMonth() %>
                /<%= date.getFullYear() %></td>
            </td>
            <td align="center"><a
                        href="/managers/delete_relationship/<%= dataRelationship[i].id %>/<%= dataRelationship[i].username %>/<%= dataRelationship[i].manager %>"
                        class="button"><span class="fui-cross"
                                             style="color:#f93c3c"></span></a>
            </td>
        </tr>
        <% } %>
    </table>
</div>

<% include ../partials/page/jsdefaults.ejs %>
<script>
    new Tablesort(document.getElementById('sort'));
</script>

<footer>
    <% include ../partials/page/footer.ejs %>
</footer>
</body>
</html>