<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/page/head.ejs %>
</head>
<header>
    <% include ../partials/page/header.ejs %>
</header>

<% include ../partials/page/jsdefaults.ejs %>

<div class="container">
    <h2>User Profile</h2>

    <div align="center">
        <form name="search_user" method="post" action="/users/profiles"
              id="search_user">

            <select name="username"
                    class="form-control select select-info"
                    data-toggle="select" form="search_user"
                    onchange='this.form.submit()'>
                <% for(var i = 0; i < data.length; i++) { %>

                <% if(data[i].username === searchUser.username) { %>

                <option value=<%= data[i].username %> selected> <%= data[i].username %>
                    (<%= data[i].nickname %>)
                </option>
                <% } else { %>
                <option value=<%= data[i].username %>><%= data[i].username %>
                    (<%= data[i].nickname %>)
                </option>
                <% } %>

                <% } %>

            </select>

        </form>
    </div>


    <form method="post" action="/users/edit">
        <div align="center">
            <input type="hidden" value="<%= searchUser.id %>" name="id"/>

            <div class="login-form" style="width:350px; margin-top: 30px; ">
                <div class="form-group">
                    Nickname
                    <input type="text" class="form-control login-field"
                           placeholder="Nickname" name="nickname"
                           value="<%= searchUser.nickname %>"/>
                </div>
                <div class="form-group">
                    Phone <input type="text" class="form-control login-field"
                                 placeholder="Phone" name="phone"
                                 value="<%= searchUser.phone %>"/>
                </div>
                <div class="form-group">
                    Line ID<input type="text" class="form-control login-field"
                                  placeholder="Line ID" name="lineID"
                                  value="<%= searchUser.lineID %>"/>
                </div>
                <input class="btn btn-primary btn-lg btn-block"
                       type="submit" value="Save Edit"/>
            </div>
        </div>
    </form>
    <% if (typeof error != 'undefined' & error != "") { %>

    <div align="center" style="margin:25px auto; width:200px;">
        <div class="form-group has-success">
            <input style="text-align:center" type="text" value=""
                   placeholder="<%= error%>" class="form-control"/>
        </div>
    </div>
    <% } %>

</div>
